html
  head
    title Questions and Answers
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="/styles/home.css")

  body
    header.container-fluid
      h1.text-center Questions and Answers
      if user
        a.btn.btn-danger(href="/user/logout") Logout
      else
        a.btn.btn-primary.m-3(href="/user/login") Login
        a.btn.btn-success(href="/user/register") Register

    main.container
      if user
        section.question-form
          form(action="/question/add_question", method="POST")
            .form-group
              label(for="question") Your Question
              input.form-control(type="text", name="question", placeholder="Ask something...")
              input(type="hidden", name="user_id", value=`${user._id}`)
            button.btn.btn-primary(type="submit") Ask

        if question
          each q in question
            section.question-list.card
              .card-header
                p.created-by.small.text-muted #{moment(q.createdAt).subtract(10, 'days').calendar()} by #{q.user_id ? q.user_id.email : 'Unknown User'}
              .card-body
                h3.card-title #{q.question}
                a.btn.btn-secondary(href=`/reponse/${q._id}`) Reponses
      else
        if question
          each q in question
            section.question-list.card
              .card-header
                p.created-by.small.text-muted #{moment(q.createdAt).subtract(10, 'days').calendar()} by #{q.user_id ? q.user_id.email : 'Unknown User'}
              .card-body
                h3.card-title #{q.question}
                a.btn.btn-secondary(href=`/reponse/${q._id}`) Reponses
